<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <button onclick="vm.OpenForm()">Open Form</button>
      <h1>{{'nilai a : ' + a}}</h1>
      <h1>{{'rata-rata : ' + rata2 }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        rata2 : 0,
      },
      methods : {
          OpenForm : function(param) {
            this.a = prompt("Masukkan nilai a")
            angka = parseInt(this.a)
            jumlah = angka + param
            if(jumlah<10){
              for(i=0; jumlah<10; i++){
                this.a = prompt("Masukkan nilai a")
              }
            }
            },
            ratarata : function(){
              rata2 = this.a/jumlah
            }
        }  
  })
  </script>
</body>
</html>