<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios</title>
</head>
<body>
<div id="app"> 
    <div v-if="errors.length > 0">
        <h5>Error :</h5>
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{error}}</li>
        </ul>
    </div>
    <form v-on:submit.prevent="submitForm()">
        <table>
            <tr>
                <td>Nama :</td>
                <td><input type="text" v-model="form.name" :disabled="buttonStatus == 'upload' "></td>
            </tr>
            <tr>
                <td>Address :</td>
                <td><input type="text" v-model="form.address" :disabled="buttonStatus == 'upload' "></td>
            </tr>
            <tr>
                <td>No HP :</td>
                <td><input type="text" v-model="form.no_hp" :disabled="buttonStatus == 'upload' "></td>
            </tr>
        </table>
        <div v-if="buttonStatus == 'submit' ">
            <input type="button" value="SUBMIT">
        </div>
        <div v-if="buttonStatus == 'upload' ">
            <input type="file" name="photo" ref="photo">
            <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)">
        </div>
        <div v-if="buttonStatus == 'update' ">
            <input type="button" @click="updateMember(idEditMember)" value="UPDATE">
            <!-- <button @click="updateMember(idEditMember)">Update</button> -->
            <!-- <button @click="clearForm()">Cancel</button> -->
        </div>
    </form>
        
    <table border="1">
        <thead>
            <tr>
                <td>Foto</td>
                <td>Nama</td>
                <td>Alamat</td>
                <td>No HP</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody v-for="(member,index) in members" :key="index">
            <tr>
                <td>
                    <img width="100" v-if="member.photo_profile != null" :src="url+member.photo_profile" alt="">
                    <img width="100" src="https://dummyimage.com/600x400/000/fff" alt="">
                </td>
                <td>{{member.name}}</td>
                <td>{{member.address}}</td>
                <td>{{member.no_hp}}</td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
var vm = new Vue({
    el: '#app',
    data: {
        url : 'http://demo-api-vue.sanbercloud.com',
        form : {
            id: '',
            name: '',
            address: '',
            no_hp : ''
            },
        members: [],
        errors: [],
        buttonStatus: 'submit',
        idEditMember: null,
        idUploadMember: null,
        },
    created(){
        this.getMembers()
    },
    methods: {
        submitForm: function() {
            this.ValidationForm()

            if (this.errors.length==0){
                let formData = new FormData
                formData.append('name', this.form.name)
                formData.append('address', this.form.address)
                formData.append('no_hp', this.form.no_hp)
    
                const config = {
                    method: 'post',
                    url : 'http://demo-api-vue.sanbercloud.com/api/member',
                    data : formData
                }
    
                axios(config)
                .then((respon) => {
                    this.clearForm()
                    alert(respon.data.message)
                    this.getMembers()
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        },
        getMembers: function(){
            const config = {
                method: 'get',
                url: 'http://demo-api-vue.sanbercloud.com/api/member',
            }

            axios(config)
            .then((respone) =>{
                this.members = respone.data.members
            })
            .catch((error) =>{
                console.log(error)
            })
        },
        clearForm: function () {
            this.form.name = ''
            this.form.address = ''
            this.form.no_hp = ''
            this.idEditMember = null
            this.idUploadMember = null
            this.buttonStatus = 'submit'
        },
        ValidationForm: function(){
            if (this.form.name.length < 3) {
                this.errors.push('Nama harus lebih dari 3 karakter')
            }
            if (this.form.address.length < 3) {
                this.errors.push('Alamat harus lebih dari 3 karakter')
            }
            if (this.form.no_hp.length < 3) {
                this.errors.push('No HP harus lebih dari 3 karakter')
            }
        },
        uploadPhoto: function (member){
            this.buttonStatus = 'upload'
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            this.idUploadMember = member.id
        },
        submitPhoto: function(id) {
            let file = this.$refs.photo.files[0]
            let formData = new FormData()
            formData.append('photo_profile', file)

            let config = {
                method : 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data: formData
            }

            axios (config)
            .then((response)=>{
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
            }) 
            .catch((error) =>{
                console.log(error)
            })
        },
        removeMember: function(id){
            const config = {
                method : 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method : "DELETE"}
            }

            axios(config)
                .then((response)=>{
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch((error)=>{
                    console.log(error)
                })
            console.log(id)
        },
        editMember: function(member){
            this.buttonStatus = 'update'
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            this.idEditMember = member.id
        },
        updateMember: function(id){
            this.ValidationForm()

            if(this.errors.length === 0){
                let formData = new FormData
                formData.append('name', this.form.name)
                formData.append('address', this.form.address)
                formData.append('no_hp', this.form.no_hp)

                let config = {
                    method: 'post',
                    url:`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params: { _method : 'PUT'},
                    data: formData
                }
                axios(config)
                .then((response) =>{
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
        }
    })
</script>
</body>
</html>