<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Input Binding</title>
</head>
<body>
  <div id="app">
    <form>
        <input  @submit="tambah($event)" type="text" value="Submit" v-model.lazy="newUsers" > 
        <button v-on:click="tambah">Add</button>
        <!-- <button v-on:submit.prevent="tambah()">Add</button> -->
        <input @submit="edit($event)" type="text" value="Submit" v-model.lazy="newUsers">
        <button>Update</button>
        <ul v-for="user in users">
            <li>{{user}}</li> 
            <button v-on:click="edit">Edit</button> 
            <button v-on:click="hapus">Delete</button>
        </ul>
    </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        fields : [
        'name'],
        users : [
            'Muhammad', 'Ranti', 'Dino'
            ],
        newUsers : '',
      },
      computed : {
        Searchuser : function(){
            return this.users((user) => {
                return user(this.newUsers)
            });
          },
        tambahuser : function() {
                return user(this.newUsers)
        }
      },
      methods : {
 //         tambahuser : function() {
   //           return this.users.add((user) => {
     //             return user.name.match(this.cari)
       //       })
         // },
          tambah : function(event) {
              this.users.push(this.newUsers)
              this.newUsers = ''

              event.preventDefault()
          },
          edit : function(event){
            this.users[i].push(this.newUsers) 
            this.newUsers = '' 
          },
          hapus : function(){
            this.users.splice(i,1)
            this.newUsers = ''
          }
      }
  })
  </script>
</body>
</html>